<h1>Phys önskelista</h1>
<ul>
  <li>Barbie helikopter</li>
  <a href="https://toyspace.se/barbie-travel-helikopter-med-rotorer-som-snurrar-fwy29?gclid=CjwKCAjw_sn8BRBrEiwAnUGJDi7OSv-KY-cWwUHcP7mP9-Tr5XYxo33oAJvgeQxpCxsxlNpS4O6PZhoCWnQQAvD_BwE">Barbie Helikopter på ToySpace</a><br><br>

  <li>En ny bur till Fjalar</li>
  <a href="https://www.hornbach.se/shop/Helglasakvarium-MARINA-80x35x40cm/3477392/artikel-detaljer.html">Akvarium 80x35x40 på Hornbach</a><br><br>

  <li>En ny bur til Fjalar</li>
  <a href="https://www.hornbach.se/shop/Helglasakvarium-MARINA-60x30x30cm/3477369/artikel-detaljer.html?sourceArt=3477392&url=3477369&trackArticleCrossType=se">Akvarium 60x30x30 på Hornbach</a><br><br>

  <li>Ett gosedjur som liknar ett lodjur</li>
  <a href="">Barbie Helikopter på ToySpace</a><br><br>

  <li>Ett nytt pennskrin</li>
  <a href="">Väntar på detaljer</a><br><br>

  <li>En skatebord</li>
  <a href="">Väntar på detaljer</a><br><br>

  <li>En lavalampa</li>
  <a href="">Väntar på detaljer</a><br><br>

  <li>Musse & Helium del 5 Den Sista Striden</li>
  <a href="https://www.adlibris.com/se/bok/musse-helium-den-sista-kampen-9789179756123?gclid=EAIaIQobChMIiqjqmZbH7gIVgUCRBR3x-Ar8EAQYASABEgLUgPD_BwE">Musse & Helium del 5 Den Sista Striden på Adlibris (Bought)</a><br><br>

  <li>Fler öronhänge</li>
  <a href="">Väntar på detaljer</a><br><br>

  <li>Lego Friends</li>
  <a href="">Väntar på detaljer</a><br><br>

  <li>Pokemon Go kort</li>
  <a href="https://www.google.se">Finns överallt - Frågar hänvisas i första hand till Liam</a><br><br>

  <li>Schleich Hästtävling</li>
  <a href="https://www.pricerunner.se/pl/72-3332428/Leksaker/Schleich-Stor-Haesttaevling-med-Haestar-42338-priser">Schleich Hästtävling på Pricerunner</a><br><br>
</ul>
