<h1>Phys önskelista</h1>
<ul>
  <li>Barbie Husbil</li>
  <a href="https://www.amazon.se/Barbie-FBR34-Dream-Camper-spelset/dp/B01N7FX1M8/ref=asc_df_B01N7FX1M8/?tag=shpngadsglede-21&linkCode=df0&hvadid=476451157840&hvpos=&hvnetw=g&hvrand=15189005242674991063&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1012437&hvtargid=pla-348090331662&psc=1">Barbie Husbil på Amazon</a><br><br>

  <li>En ny bur til Fjalar</li>
  <a href="https://www.hornbach.se/shop/Helglasakvarium-MARINA-60x30x30cm/3477369/artikel-detaljer.html?sourceArt=3477392&url=3477369&trackArticleCrossType=se">Akvarium 60x30x30 på Hornbach</a><br><br>

  <li>Ett lodjur som gosedjur</li>
  <a href="https://www.naturbokhandeln.se/sv/articles/2.512.534/mjukisdjur-lodjur-medium">Lodjur på Naturbokhandeln</a><br><br>

  <li>Ett nytt pennskrin. Något fint med en vit häst på.</li><br>

  <li>En skatebord</li>
  <a href="https://www.skatepro.se/84-26242.htm">Skateboard på Skatepro</a><br><br>

  <li>Handbok för Superhjältar del 6 - Utan Hopp</li>
  <a href="https://www.adlibris.com/se/bok/handbok-for-superhjaltar-utan-hopp-9789129723687?gclid=EAIaIQobChMIzt-vmZzH7gIVWUiRBR3HPAkKEAQYASABEgJBU_D_BwE">Handbok för Superhjältar på Adlibris</a><br><br>

  <li>Snygga öronhänge</li><br>

  <li>Lego Friends Hunddagis</li>
  <a href="https://www.lego.com/sv-se/product/doggy-day-care-41691">Hunddagis på Lego</a><br><br>

  <li>Pokemon Go kort</li>
  <a href="https://www.google.se">Finns överallt - Frågar hänvisas i första hand till Liam</a><br><br>

  <li>Schleich Hästtävling</li>
  <a href="https://www.pricerunner.se/pl/72-3332428/Leksaker/Schleich-Stor-Haesttaevling-med-Haestar-42338-priser">Schleich Hästtävling på Pricerunner</a><br><br>
</ul>
